backup_WFCRM001comp01_pre_ocr_1784743694273.json
{
  "nodes": [
    {
      "id": "532b9474f98044e6942db0c62b27839c",
      "name": "Webhook Comprovante",
      "typeVersion": 2,
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "comprovante",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "wh_comp_1784724194759"
    },
    {
      "id": "cf3c59febf9144c195b31e52df0cf325",
      "name": "VALIDAR ARQUIVO",
      "typeVersion": 1,
      "type": "n8n-nodes-base.code",
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const TAMANHO_MAXIMO = 20 * 1024 * 1024;\nconst items = $input.all();\nif (!items || !items.length) return [{ json: { valido: false, erros: [\"sem itens\"] } }];\nconst item = items[0];\nlet buf = null;\nlet fileName = \"\";\nlet mimeType = \"\";\nlet binaryKey = \"\";\nlet createdFromBase64 = false;\n// 1. Check $binary first\nconst binKeys = Object.keys($binary || {});\nif (binKeys.length > 0) {\n  binaryKey = binKeys[0];\n  const bin = $binary[binaryKey];\n  if (bin) {\n    // Method signature: getBinaryDataBuffer(itemIndex, propertyName|binaryData)\n    try { buf = await this.helpers.getBinaryDataBuffer(0, bin); } catch(e) {}\n    if (!buf) { try { buf = await this.helpers.getBinaryDataBuffer(0, binaryKey); } catch(e) {} }\n    if (!buf && bin.data) {\n      if (Buffer.isBuffer(bin.data)) buf = bin.data;\n      else if (typeof bin.data === \"string\") buf = Buffer.from(bin.data, \"base64\");\n    }\n    fileName = bin.fileName || \"\";\n    mimeType = bin.mimeType || \"\";\n  }\n}\n// 2. Check item.binary fallback\nif (!buf && item && item.binary) {\n  const ibk = Object.keys(item.binary);\n  if (ibk.length > 0) {\n    if (!binaryKey) binaryKey = ibk[0];\n    const ibKey = ibk[0];\n    const ib = item.binary[ibKey];\n    if (ib) {\n      try { buf = await this.helpers.getBinaryDataBuffer(0, ib); } catch(e) {}\n      if (!buf) { try { buf = await this.helpers.getBinaryDataBuffer(0, ibKey); } catch(e) {} }\n      if (!buf && ib.data) {\n        buf = Buffer.isBuffer(ib.data) ? ib.data : Buffer.from(ib.data, \"base64\");\n      }\n      fileName = fileName || ib.fileName || \"\";\n      mimeType = mimeType || ib.mimeType || \"\";\n    }\n  }\n}\n// 3. Check JSON body for base64-encoded file (from Enviar para Agente Comprovante Code node)\nconst body = item.json.body || item.json || {};\nif (!buf && body.file_base64) {\n  try {\n    buf = Buffer.from(body.file_base64, \"base64\");\n    fileName = fileName || body.file_name || body.fileName || \"\";\n    mimeType = mimeType || body.file_type || body.fileType || \"application/octet-stream\";\n    binaryKey = binaryKey || \"data\";\n    createdFromBase64 = true;\n  } catch(e) {}\n}\n// Fallback name from JSON\nfileName = fileName || body.fileName || body.file_name || body._file_name || \"\";\nmimeType = mimeType || body.fileType || body.file_type || body._file_type || \"\";\n// Validation\nconst ext = fileName ? fileName.toLowerCase().split(\".\").pop() : \"\";\nconst validExts = [\"pdf\", \"jpg\", \"jpeg\", \"png\"];\nconst erros = [];\nif (!buf) erros.push(\"arquivo_binario_ausente\");\nif (buf && buf.length > TAMANHO_MAXIMO) erros.push(\"arquivo_excede_tamanho_maximo_20MB\");\nif (fileName && !validExts.includes(ext)) erros.push(\"Extensao_invalida: \" + ext);\nlet hash = \"\";\nlet fileSize = 0;\nif (buf) {\n  fileSize = buf.length;\n  var s = 0;\n  var arr = new Uint8Array(buf.buffer || buf);\n  for (var i = 0; i < arr.length; i++) { s = (s * 31 + arr[i]) >>> 0; }\n  hash = s.toString(16).padStart(8, \"0\");\n}\nconst caminho_completo = buf ? \"/home/node/.n8n-files/comprovantes/entrada/\" + Date.now() + \"_\" + (fileName || \"arquivo\") : \"\";\nconst temBinario = binKeys.length > 0 || (item && item.binary && Object.keys(item.binary).length > 0) || createdFromBase64;\nconst outputBinary = createdFromBase64 ? { data: { data: buf.toString(\"base64\"), mimeType: mimeType, fileName: fileName } } : (item.binary || undefined);\nif (!binaryKey && temBinario) binaryKey = \"data\";\nreturn [{ json: { valido: erros.length === 0, erros: erros, arquivo_nome: fileName, arquivo_tipo: mimeType, fileSize: fileSize, hash_sha256: hash, tem_binario: temBinario, binario_key: binaryKey, caminho_completo: caminho_completo }, binary: outputBinary }];"
      }
    },
    {
      "id": "d7225a6d244e421593b39d0ca4562d1b",
      "name": "Valido?",
      "typeVersion": 1,
      "type": "n8n-nodes-base.if",
      "position": [
        440,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.valido }}",
              "operation": "equal",
              "value2": "={{ true }}"
            }
          ]
        }
      }
    },
    {
      "id": "aa8c7f59a51a4e3e8af0c2cb7fa64451",
      "name": "RESPOSTA SUCESSO",
      "typeVersion": 3.4,
      "type": "n8n-nodes-base.set",
      "position": [
        1660,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "2",
              "name": "arquivo_original",
              "value": "={{ $json.arquivo_original || $json.arquivo_nome || \"\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "arquivo_salvo",
              "value": "={{ $json.arquivo_salvo || $json.fileName || $json.caminho_completo || \"\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "stripBinary": true
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "cce17cedaa2b493ea138850c153a54e2",
      "name": "RESPOSTA ERRO",
      "typeVersion": 3.4,
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        500
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e152ca674d614d578e3b6d1fbadb33b0",
              "name": "status",
              "value": "erro",
              "type": "string"
            },
            {
              "id": "f1a3cc1b6d564ab4a5a39cf7b317ce3d",
              "name": "erro",
              "value": "={{ $json.erros[0] || \"Erro desconhecido\" }}",
              "type": "string"
            },
            {
              "id": "26a1b0b2128b4a309eeab554cc3b80fa",
              "name": "arquivo",
              "value": "={{ $json.arquivo_nome }}",
              "type": "string"
            },
            {
              "id": "b646b7ab9f28478ca9270076ab278af6",
              "name": "data",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4d1d92b3c74d4c23823aaaa09b692579",
      "name": "TEM BINARIO?",
      "typeVersion": 1,
      "type": "n8n-nodes-base.if",
      "position": [
        660,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tem_binario }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "40262ae6a5d7404b8fbb38527167e74a",
      "name": "Write Binary File",
      "typeVersion": 1,
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        860,
        200
      ],
      "parameters": {
        "dataPropertyName": "={{ $json.binario_key || \"file\" }}",
        "fileName": "={{ $json.caminho_completo }}",
        "options": {}
      }
    },
    {
      "id": "76cb1c5fd982437992db0bbb782e784a",
      "name": "Set Metadados",
      "typeVersion": 3.4,
      "type": "n8n-nodes-base.set",
      "position": [
        1460,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "arquivo_original",
              "value": "={{ $json.arquivo_nome || \"\" }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "arquivo_salvo",
              "value": "={{ $json.fileName || \"\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "timestamp",
              "value": "={{ $now.toISOString() }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "ocr_status",
              "value": "={{ $json.ocr_status || \"pendente\" }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "ocr_engine",
              "value": "={{ $json.ocr_engine || \"\" }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "ocr_texto",
              "value": "={{ $json.ocr_texto || \"\" }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "ocr_timestamp",
              "value": "={{ $json.ocr_timestamp || \"\" }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "ocr_path_txt",
              "value": "={{ $json.ocr_path_txt || \"\" }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "ocr_erro",
              "value": "={{ $json.ocr_erro || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "50dece951f184b28ab11095a5ff9e9fa",
      "name": "EXECUTAR OCR",
      "typeVersion": 1,
      "type": "n8n-nodes-base.code",
      "position": [
        1060,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item) return [{ json: { ocr_status: \"erro\", ocr_erro: \"sem_item\" } }];\nconst binKey = item.json.binario_key || \"data\";\nconst bin = $binary && $binary[binKey];\nlet buf = null;\nif (bin) {\n  try { buf = await this.helpers.getBinaryDataBuffer(0, bin); } catch(e) {}\n  if (!buf && bin.data) {\n    buf = Buffer.isBuffer(bin.data) ? bin.data : Buffer.from(bin.data, \"base64\");\n  }\n}\nif (!buf && item.binary) {\n  const ibk = Object.keys(item.binary);\n  if (ibk.length > 0) {\n    const ib = item.binary[ibk[0]];\n    try { buf = await this.helpers.getBinaryDataBuffer(0, ib); } catch(e) {}\n    if (!buf && ib.data) {\n      buf = Buffer.isBuffer(ib.data) ? ib.data : Buffer.from(ib.data, \"base64\");\n    }\n  }\n}\nif (!buf) return [{ json: { ...item.json, ocr_status: \"erro\", ocr_erro: \"sem_dados_binario\", ocr_engine: \"nenhum\", ocr_texto: \"\", ocr_timestamp: new Date().toISOString(), ocr_path_txt: \"\" } }];\nconst mime = item.json.arquivo_tipo || \"application/octet-stream\";\nconst b64 = buf.toString(\"base64\");\nconst dataUri = \"data:\" + mime + \";base64,\" + b64;\nconst arquivoNome = item.json.arquivo_nome || \"arquivo\";\nconst isPdf = arquivoNome.toLowerCase().endsWith(\".pdf\");\nlet ocrStatus = \"erro\";\nlet ocrTexto = \"\";\nlet ocrEngine = \"nenhum\";\nlet ocrErro = \"\";\n// 1. Try OCR.space\nconst apiKey = $env.OCR_SPACE_API_KEY || \"\";\nif (apiKey) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: \"https://api.ocr.space/v2/parse/image\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: {\n        apikey: apiKey,\n        base64Image: dataUri,\n        language: \"por\",\n        isOverlayRequired: false,\n        OCREngine: 2\n      },\n      timeout: 30000\n    });\n    if (resp.OCRExitCode === 1 && resp.ParsedResults && resp.ParsedResults.length > 0) {\n      var text = (resp.ParsedResults[0].ParsedText || \"\").trim();\n      if (text) {\n        ocrStatus = \"ok\"; ocrTexto = text; ocrEngine = \"ocr.space\";\n      }\n    }\n    if (ocrStatus !== \"ok\") {\n      ocrErro = (resp.ParsedResults && resp.ParsedResults[0] && resp.ParsedResults[0].ErrorMessage) || \"OCR.space_falhou_sem_texto\";\n    }\n  } catch (e) {\n    ocrErro = \"OCR.space_erro: \" + (e.message || String(e)).substring(0, 100);\n  }\n}\n// 2. Fallback: Tesseract\nif (ocrStatus !== \"ok\") {\n  if (isPdf) {\n    ocrErro = \"PDF_NAO_SUPORTADO_POR_TESSERACT\";\n  } else {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: \"POST\",\n        url: \"http://ocr-service:3002/ocr\",\n        headers: { \"Content-Type\": \"application/json\" },\n        body: { base64Image: dataUri },\n        timeout: 30000\n      });\n      if (resp.text) {\n        ocrStatus = \"ok\"; ocrTexto = resp.text; ocrEngine = \"tesseract\";\n      } else {\n        ocrErro = \"Tesseract: \" + (resp.error || \"sem_texto\");\n      }\n    } catch (e) {\n      ocrErro = \"Tesseract_erro: \" + (e.message || String(e)).substring(0, 100);\n    }\n  }\n}\n// 3. Create .txt binary output\nconst txtFileName = arquivoNome.replace(/\\.[^.]+$/, \"\") + \".txt\";\nconst txtContent = \"=== OCR RESULT ===\\nEngine: \" + ocrEngine + \"\\nStatus: \" + ocrStatus + \"\\nTimestamp: \" + new Date().toISOString() + \"\\n\\n\" + ocrTexto;\nconst txtB64 = Buffer.from(txtContent, \"utf-8\").toString(\"base64\");\nconst ocrPathTxt = \"/home/node/.n8n-files/comprovantes/processados/\" + txtFileName;\nreturn [{\n  json: {\n    ...item.json,\n    ocr_status: ocrStatus,\n    ocr_texto: ocrTexto,\n    ocr_engine: ocrEngine,\n    ocr_erro: ocrErro,\n    ocr_timestamp: new Date().toISOString(),\n    ocr_path_txt: ocrPathTxt,\n    ocr_txt_nome: txtFileName\n  },\n  binary: {\n    \"ocr_resultado\": {\n      data: txtB64,\n      mimeType: \"text/plain\",\n      fileName: txtFileName\n    }\n  }\n}];"
      }
    },
    {
      "id": "28a62c8a073841feab24e8aec7d8158f",
      "name": "SALVAR OCR .TXT",
      "typeVersion": 1,
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        1260,
        200
      ],
      "parameters": {
        "dataPropertyName": "ocr_resultado",
        "fileName": "={{ $json.ocr_path_txt }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Comprovante": {
      "main": [
        [
          {
            "node": "VALIDAR ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALIDAR ARQUIVO": {
      "main": [
        [
          {
            "node": "Valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valido?": {
      "main": [
        [
          {
            "node": "TEM BINARIO?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOSTA ERRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEM BINARIO?": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "EXECUTAR OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXECUTAR OCR": {
      "main": [
        [
          {
            "node": "SALVAR OCR .TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SALVAR OCR .TXT": {
      "main": [
        [
          {
            "node": "Set Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadados": {
      "main": [
        [
          {
            "node": "RESPOSTA SUCESSO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESPOSTA SUCESSO": {
      "main": [
        []
      ]
    },
    "RESPOSTA ERRO": {
      "main": [
        []
      ]
    }
  }
}