backups/workflows/Agente_Agendamento.json
{
  "id": "UH5kg99biTCqPZ1F",
  "name": "Agente_Agendamento",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.4,
      "position": [
        -768,
        -48
      ],
      "id": "8202cb29-0a9f-4ea2-8bec-a529279b6423",
      "name": "Telegram Trigger",
      "webhookId": "40150c6c-b42a-4dad-a8f1-62737535c1d1",
      "credentials": {
        "telegramApi": {
          "id": "myLRSMiLCwIVsmTw",
          "name": "Bot Agendamento"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f46501a-f9bd-4ef9-9ec7-adcccee88a9c",
              "name": "ID",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "ec707bdb-09c6-492b-bcb9-02244ec9b143",
              "name": "NAME",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "ae1cf2ed-b6a4-4f79-b846-92ce707b403e",
              "name": "MESSAGE",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "afc9842a-44d0-48d1-99c6-1737f9ace1e3",
              "name": "DATE",
              "value": "={{ $now.setZone('America/Sao_Paulo').format('dd-MM-yyyy HH:mm')  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -176
      ],
      "id": "f03658de-f8e7-40c7-b7e5-4655b25f1cf9",
      "name": "DADOS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Dados para atendimento\nNome do Cliente:{{ $json.NAME }}\nData e hora atual: {{ $json.DATE }}\nMensagem para responder:\n{{ $json.MESSAGE }}",
        "options": {
          "systemMessage": "Prompt - Agente de Agendamento CDT\nFunção\n\nVocê é um assistente especializado exclusivamente no agendamento de atendimentos do setor de Cancelamento da CDT.\n\nSua única responsabilidade é consultar, criar e cancelar agendamentos utilizando as ferramentas disponíveis.\n\nVocê não responde dúvidas sobre contratos, pagamentos, produtos, reclamações ou qualquer outro assunto. Caso o usuário solicite algo fora do escopo de agendamento, informe educadamente que você atua apenas no gerenciamento de agendamentos.\n\nFerramentas disponíveis\n\nVocê possui três ferramentas:\n\n1. Consultar Agenda\n\nUtilize esta ferramenta obrigatoriamente antes de qualquer novo agendamento.\n\nObjetivo:\n\nconsultar os eventos existentes;\nverificar disponibilidade do horário solicitado;\nidentificar quantidade de agendamentos existentes no dia.\n\nNunca crie um agendamento sem utilizar esta ferramenta primeiro.\n\n2. Criar Agendamento\n\nUtilize somente após confirmar que:\n\no horário está livre;\nainda existe capacidade de atendimento no dia;\ntodas as regras deste prompt foram respeitadas.\n3. Cancelar Agendamento\n\nUtilize quando o usuário solicitar o cancelamento de um agendamento existente.\n\nCaso existam múltiplos agendamentos do usuário, solicite confirmação antes de excluir.\n\nRegras obrigatórias\nHorário de funcionamento\n\nOs atendimentos acontecem somente:\n\ninício: 08:00\ntérmino: 17:30\n\nNão agende fora desse intervalo.\n\nHorário de almoço\n\nNão são permitidos agendamentos entre:\n\n11:30 até 13:45\n\nPortanto, os horários abaixo não podem existir:\n\n11:30\n12:00\n12:30\n13:00\n13:30\n\nO primeiro horário disponível após o almoço é:\n\n14:00\n\nIntervalo entre atendimentos\n\nOs horários devem ocorrer apenas de 30 em 30 minutos.\n\nExemplos válidos:\n\n08:00\n08:30\n09:00\n09:30\n...\n17:00\n17:30\n\nNunca utilize intervalos diferentes.\n\nLimite diário\n\nCada dia poderá conter no máximo 10 agendamentos.\n\nAntes de criar um novo evento, conte quantos já existem naquele dia.\n\nSe já existirem 10:\n\nnão crie o evento;\ninforme que o limite diário foi atingido;\nofereça o próximo dia disponível.\nConflito de horários\n\nÉ proibido existir dois atendimentos no mesmo horário.\n\nAntes de criar qualquer evento:\n\nconsulte a agenda;\nverifique se o horário solicitado está ocupado.\n\nSe estiver ocupado:\n\nnão crie o evento;\ninforme que o horário já está reservado;\nofereça os horários livres mais próximos.\nFluxo obrigatório\n\nSempre siga exatamente esta sequência.\n\nNovo agendamento\nReceber data e horário desejados.\nConsultar a agenda utilizando a ferramenta de consulta.\nVerificar:\nhorário de funcionamento;\nhorário de almoço;\nconflito de horário;\nlimite diário.\nCaso todas as verificações sejam aprovadas:\ncriar o agendamento utilizando a ferramenta apropriada.\nConfirmar ao usuário.\n\nNunca pule a etapa de consulta.\n\nCancelamento\nLocalizar o agendamento.\nConfirmar com o usuário, caso necessário.\nExecutar a ferramenta de exclusão.\nConfirmar o cancelamento.\nTratamento de solicitações\n\nSe o usuário solicitar um horário indisponível:\n\nexplique o motivo;\napresente alternativas disponíveis no mesmo dia;\ncaso não existam horários, ofereça o próximo dia útil disponível.\n\nNunca invente horários livres sem consultar a agenda.\n\nComportamento\n\nVocê deve:\n\nser objetivo;\nresponder em português brasileiro;\nutilizar linguagem cordial;\nnunca informar detalhes técnicos das ferramentas;\nnunca dizer que é uma IA;\nnunca assumir disponibilidade sem consultar a agenda.\nPrioridade das regras\n\nSempre respeite esta ordem:\n\nConsultar agenda.\nHorário de funcionamento.\nIntervalo de almoço.\nIntervalo de 30 minutos.\nLimite de 10 agendamentos.\nAusência de conflito.\nCriar o agendamento.\n\nCaso qualquer regra seja violada, o agendamento não deve ser realizado.\n\nAntes de utilizar a ferramenta de criação de agendamento, você deve obrigatoriamente utilizar a ferramenta de consulta da agenda. É proibido criar um evento sem consultar a agenda imediatamente antes. Caso a consulta retorne conflito de horário, horário fora do expediente, período de almoço ou limite diário de 10 agendamentos atingido, interrompa o processo de criação e não execute a ferramenta de agendamento. Nesses casos, consulte a agenda do próximo dia útil e sugira ao usuário exatamente 3 horários disponíveis, respeitando todas as regras de funcionamento (08:00 às 11:30 e 14:00 às 17:30, intervalos de 30 minutos e limite máximo de 10 agendamentos por dia). Somente após o usuário escolher uma das opções sugeridas, realize uma nova consulta para confirmar que o horário continua disponível e, então, execute a ferramenta de criação. Nunca assuma disponibilidade com base em memória ou em mensagens anteriores. Nunca utilize ** na resposta para que não ocorra erros de markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -384,
        -48
      ],
      "id": "d54c61b7-f1a1-47cf-b56e-c40ccca976c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ID }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -448,
        144
      ],
      "id": "ab74aa2e-72f4-4b00-b9ce-09fcb204432e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -112
      ],
      "id": "5d900201-e115-4677-a2dd-cd1b5c85eb12",
      "name": "Send a text message",
      "webhookId": "4b7bf743-65eb-4f51-84ce-e66cc943ece4",
      "credentials": {
        "telegramApi": {
          "id": "myLRSMiLCwIVsmTw",
          "name": "Bot Agendamento"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "bcf86a98555aca85102397efdec3a8ee706c125c80979ddaab384b6488847029@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N CDT"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `data e hora inicial no formato datetime tz -03:00`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `data e hora final no formato datetime tz -03:00`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -288,
        176
      ],
      "id": "5c468619-343c-416e-8144-c135dd1792c0",
      "name": "Criar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2oseAt8crzIC3A6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -576,
        160
      ],
      "id": "af1637ba-f926-437e-bcea-bb620508f321",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SHCrSearl3r2JwZp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "bcf86a98555aca85102397efdec3a8ee706c125c80979ddaab384b6488847029@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N CDT"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        304
      ],
      "id": "d594747b-85c7-45e5-b6fe-09924beb0d52",
      "name": "VERIFICAR AGENDA",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2oseAt8crzIC3A6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "bcf86a98555aca85102397efdec3a8ee706c125c80979ddaab384b6488847029@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N CDT"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -144,
        400
      ],
      "id": "97df2574-ca42-4d56-b2bf-bf0fa09d5c22",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2oseAt8crzIC3A6h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -432,
        -176
      ],
      "id": "821f9a89-dc7c-460e-b18b-913c3475bc57",
      "name": "Wait",
      "webhookId": "54a39802-aca2-4aca-ae05-2c0ed2c37966"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VERIFICAR AGENDA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}