backups/workflows/Agente_Comprovante__OCR_.json
{
  "id": "WFCRM001ocr01",
  "name": "Agente Comprovante (OCR)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "29ad73ad4bd245988e83224d9ad5eee2",
      "name": "Webhook OCR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "agent-ocr"
    },
    {
      "parameters": {
        "url": "https://api.ocr.space/parse/image",
        "method": "POST",
        "options": {},
        "jsonParameters": true,
        "parameters": {
          "json": {
            "apikey": "K87899142388957",
            "language": "por",
            "isOverlayRequired": false,
            "filetype": "auto",
            "detectOrientation": true,
            "scale": true,
            "OCREngine": 2,
            "base64Image": "={{ $json.file_data }}"
          }
        }
      },
      "id": "08c69ee7e7d14478b04a9ef559af8425",
      "name": "OCR.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nif (!response || response.IsErroredOnProcessing) {\n  return [{ json: { success: false, error: 'Erro no OCR.space', message_id: $json.message_id, user_id: $json.user_id } }];\n}\n\nconst parsed = response.ParsedResults ? response.ParsedResults[0] : null;\nif (!parsed) {\n  return [{ json: { success: false, error: 'Nenhum resultado do OCR', message_id: $json.message_id, user_id: $json.user_id } }];\n}\n\nconst text = parsed.ParsedText || '';\nconst confidence = parsed.MeanConfidence || 0;\n\nlet valor = null, data = null, hora = null, beneficiario = null, pagador = null, banco = null, txid = null;\nconst lines = text.split('\\n').map(l => l.trim()).filter(l => l);\n\nfor (const line of lines) {\n  const lower = line.toLowerCase();\n  \n  if (!valor && /(valor|amount|total|pix)/i.test(line)) {\n    const match = line.match(/[\\d,.]{2,}/);\n    if (match) valor = match[0];\n  }\n  if (!data && /\\d{2}[\\/\\-]\\d{2}[\\/\\-]\\d{2,4}/.test(line)) {\n    data = line.match(/\\d{2}[\\/\\-]\\d{2}[\\/\\-]\\d{2,4}/)[0];\n  }\n  if (!hora && /\\d{2}:\\d{2}/.test(line)) {\n    hora = line.match(/\\d{2}:\\d{2}/)[0];\n  }\n  if (!txid && /[a-zA-Z0-9]{26,}/.test(line)) {\n    txid = line.match(/[a-zA-Z0-9]{26,}/)[0];\n  }\n  if (!beneficiario && /(favorecido|beneficiario|recebedor)/i.test(line)) {\n    beneficiario = line.replace(/(favorecido|beneficiario|recebedor)[:\\s]*/i, '').trim();\n  }\n  if (!pagador && /(pagador|ordenador|de)/i.test(line)) {\n    pagador = line.replace(/(pagador|ordenador|de)[:\\s]*/i, '').trim();\n  }\n  if (!banco && /(banco|bradesco|itau|santander|caixa|bb|nubank|inter)/i.test(line)) {\n    banco = line.trim();\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    text: text,\n    confidence: Math.round(confidence),\n    extracted: {\n      valor: valor,\n      data: data,\n      hora: hora,\n      beneficiario: beneficiario,\n      pagador: pagador,\n      banco: banco,\n      txid: txid\n    },\n    message_id: $json.message_id,\n    user_id: $json.user_id\n  }\n}];"
      },
      "id": "ddfbeea2c3274f8283b615a730bf9a92",
      "name": "Processar OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 60
            }
          ]
        }
      },
      "id": "21655fc51a1f412b8afc57f6555d5bb5",
      "name": "Confianca >= 60%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "attributes": {
          "json": {
            "success": true,
            "status": "processed",
            "data": "={{ $json.extracted }}",
            "confidence": "={{ $json.confidence }}",
            "message_id": "={{ $json.message_id }}"
          }
        }
      },
      "id": "7cc3fdfaf3ea4e4db8a9a6946f5f5ad1",
      "name": "Resposta Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "options": {},
        "attributes": {
          "json": {
            "success": false,
            "status": "low_confidence",
            "error": "Confianca OCR baixa (< 60%)",
            "confidence": "={{ $json.confidence }}",
            "message_id": "={{ $json.message_id }}"
          }
        }
      },
      "id": "9a9f7ada16924f60b4b996833b6798f1",
      "name": "Resposta Baixa Confianca",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "options": {},
        "attributes": {
          "json": {
            "success": false,
            "status": "error",
            "error": "={{ $json.error }}",
            "message_id": "={{ $json.message_id }}"
          }
        }
      },
      "id": "08b0c21b25714b6c8ae4d8d604874185",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1250,
        500
      ]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 200
      },
      "id": "respond_ocr",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    }
  ],
  "connections": {
    "Webhook OCR": {
      "main": [
        [
          {
            "node": "OCR.space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR.space": {
      "main": [
        [
          {
            "node": "Processar OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar OCR": {
      "main": [
        [
          {
            "node": "Confianca >= 60%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confianca >= 60%": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Baixa Confianca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Webhook": {
      "main": []
    },
    "Resposta Sucesso": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Baixa Confianca": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Erro": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}